{% set active_page = "Home" %} {% extends "base.html" %} {% block top %}
<style>
    .back {
        background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/The_Golden_Gate_Bridge_2019.jpg/2560px-The_Golden_Gate_Bridge_2019.jpg") no-repeat center;
        background-size: 1000px;
    }

    .back h2 {
        font-family: "Lato", sans-serif;
        font-weight: 900;
    }
</style>

<div class="container back" style="padding-bottom: 100px; padding-top: 150px">
    <div class="row header">
        <div style="-webkit-text-stroke: 1px black" class="p-1 text-center text-white col-md-12 col-sm-12">
            <h2>{{config.tagline|safe}}</h2>
            <h2 class="p-5" style="-webkit-text-stroke: 1px black">
                Hilton Union Square<br />
                San Francisco, USA <br />
                October 6-9, 2026
            </h2>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="alert alert-info" role="alert">
    <h3>
        <center>COLM 2026 will take place in San Francisco, between October 6-9, 2026. Here is the <a
                href="https://docs.google.com/document/d/1Z9iYHEJ0VPso3HjdUiQF-A_3UGbkvKg8L9jC1hHGHg8/edit?tab=t.0#heading=h.6uq4ly9xgnv">call
                for papers</a>. The abstract deadline is March 26, 2026. The full paper deadline is March 31, 2026.
        </center>
    </h3>
</div>

<!-- <div class="alert alert-info" role="alert">
    <h3>
        <center> <a href="https://colm.eventhosts.cc/">Register</a> | <a href="https://forms.gle/n953Dp2UYQzKtqQVA">Resume Upload</a> | <a href="https://form.jotform.com/KiddieCorp/colmkids">Childcare</a> | <a href="https://colmweb.org/hotels.html"> Hotels </a></center>
    </h3>
</div> -->

<!-- <div class="alert alert-info" role="alert">
    <h3>
        <center>COLM 2026 is now accepting applications for:<br/></center>
        <center><a href="">Financial Assistance</a><br/></center>
        <center><a href="">Volunteer</a><br/></center>
        <center><a href="">Childcare Financial Assistance</a><br/></center>
        <center>All due by July 31!</center>
    </h3>
</div> -->

{{ components.section("COLM") }}

<div class="h5" style="line-height: 1.5; padding-bottom: 50px">
    <p>The leap in general-purpose capabilities from language models is a landmark
        in the development of Artificial Intelligence. The nature of this technology
        has led to a different set of research questions than are the typical focus
        of related venues. COLM is an academic venue focused on the study of
        language modeling, broadly defined, with the goal of creating a community of
        researchers with expertise in different disciplines, focused on
        understanding, improving, and critiquing the development of LM technology.
        If you are interested in this goal, see our
        <a href="cfp.html">Call for Papers</a>.
    </p>
    <p>To receive announcements from COLM, please sign up to our <a
            href="https://groups.google.com/g/colm-announcements">mailing list</a>, or follow COLM on <a
            href="https://bsky.app/profile/colmweb.org">Bluesky</a> or <a href="https://x.com/COLM_conf">X</a>.</p>
</div>

{{ components.section("Venue") }}

<div class="h5" style="line-height: 1.5; padding-bottom: 50px">
    COLM 2026 will take place at the Hilton Union Square in San Francisco, USA from
    October 6-9, 2026. The conference will be a three-day single-track event
    with a mix of invited talks, oral paper presentations, and poster sessions.
    The fourth day will be dedicated to workshops.
</div>

<div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12">
        <img width="100%" src="https://lh3.googleusercontent.com/p/AF1QipNgKkq2HYV7hj0GFLRBn7wiLf2RjJJuavM-Rrvn=s1360-w1360-h1020-rw" />
    </div>
</div>

{{ components.section("Sponsorship") }}

<div class="h5" style="line-height: 1.5; padding-bottom: 50px">
    If you are interested in sponsoring COLM, please reach out to the
    <a href="mailto:chris.brown@aicons.org">COLM Organizational Chair</a>.
</div>

{{ components.section("Previous Conferences") }}

<div class="h5" style="line-height: 1.5; padding-bottom: 50px">
    Information for past conferences can be found for 
    <a href="https://2025.colmweb.org">2025</a> and
    <a href="https://2024.colmweb.org">2024</a>.
</div>

{% endblock %}