{% set active_page = "Program Overview" %}
{% set page_title = "Program Overview" %}
{% extends "base.html" %}


{% block content %}

<div>
  <div title="Whova event and conference app" id="whova-agendawidget">
      <p id="whova-loading">Loading...</p>
  </div>
  <script src="https://whova.com/static/frontend/xems/js/embed/embedagenda.js?eid=DXivXkryPhzvSHsyIFXOPfd8b4wKfd9qBMKe4XKB4dI%3D&host=https://whova.com" type="text/javascript"  id="embeded-agenda-script">
  </script>
  <div id="whova-wrap" class="whova-wrap-class">
      Powered By
      <a class="brandlink" target="_blank" href="https://whova.com">
          <b>Whova</b>
      </a>
      <br/>
      <a class="whova-emslink brandanchorlink" target="_blank" href="https://whova.com/event-management-software/">
          Event planning tools
      </a>
  </div>
</div>

{% endblock %}
